<div class="social-sidebar">
  <div class="social-list">
    <li *ngFor="let link of socialLinks">
      <a 
        [href]="link.url" 
        [attr.aria-label]="link.ariaLabel"
        target="_blank"
        rel="noreferrer"
      >
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          role="img" 
          viewBox="0 0 24 24" 
          fill="none" 
          stroke="currentColor" 
          stroke-width="2" 
          stroke-linecap="round" 
          stroke-linejoin="round" 
          class="feather"
        >
          <ng-container [innerHTML]="link.icon"></ng-container>
        </svg>
      </a>
    </li>
  </div>
  <div class="line"></div>
</div> 