.social-sidebar {
  width: 40px;
  position: fixed;
  bottom: 0;
  left: 40px;
  right: auto;
  z-index: 10;

  @media (max-width: 1080px) {
    left: 20px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--light-slate);
  }

  li {
    &:last-of-type {
      margin-bottom: 20px;
    }
  }

  a {
    padding: 10px;
    color: var(--light-slate);
    font-size: var(--fz-xl);
    line-height: var(--fz-xxl);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

    &:hover,
    &:focus {
      color: var(--green);
      transform: translateY(-3px);
    }
  }
}
