.pdf-viewer-modal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #0a0e27;

  .pdf-container {
    flex: 1;
    overflow: hidden;
    background-color: #0a0e27;

    .pdf-iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
